<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>uni00C0</string>
      <string>uni00C1</string>
      <string>uni00C2</string>
      <string>uni00C3</string>
      <string>uni00C4</string>
      <string>uni00C5</string>
      <string>uni0100</string>
      <string>uni0102</string>
      <string>uni0104</string>
      <string>uni01CD</string>
      <string>uni01DE</string>
      <string>uni01E0</string>
      <string>uni01FA</string>
      <string>uni0200</string>
      <string>uni0202</string>
      <string>uni0226</string>
      <string>uni1EA0</string>
      <string>uni1EA2</string>
      <string>uni1EA4</string>
      <string>uni1EA6</string>
      <string>uni1EA8</string>
      <string>uni1EAA</string>
      <string>uni1EAC</string>
      <string>uni1EAE</string>
      <string>uni1EB0</string>
      <string>uni1EB2</string>
      <string>uni1EB4</string>
      <string>uni1EB6</string>
    </array>
    <key>public.kern1.B</key>
    <array>
      <string>B</string>
      <string>uni1E02</string>
      <string>uni1E04</string>
      <string>uni1E06</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
      <string>uni00C7</string>
      <string>uni0106</string>
      <string>uni0108</string>
      <string>uni010A</string>
      <string>uni010C</string>
      <string>uni1E08</string>
    </array>
    <key>public.kern1.D</key>
    <array>
      <string>D</string>
      <string>uni010E</string>
      <string>uni1E0A</string>
      <string>uni1E0C</string>
      <string>uni1E0E</string>
      <string>uni1E10</string>
      <string>uni1E12</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>E</string>
      <string>uni00C8</string>
      <string>uni00C9</string>
      <string>uni00CA</string>
      <string>uni00CB</string>
      <string>uni0112</string>
      <string>uni0114</string>
      <string>uni0116</string>
      <string>uni0118</string>
      <string>uni011A</string>
      <string>uni0204</string>
      <string>uni0206</string>
      <string>uni0228</string>
      <string>uni1E14</string>
      <string>uni1E16</string>
      <string>uni1E18</string>
      <string>uni1E1A</string>
      <string>uni1E1C</string>
      <string>uni1EB8</string>
      <string>uni1EBA</string>
      <string>uni1EBC</string>
      <string>uni1EBE</string>
      <string>uni1EC0</string>
      <string>uni1EC2</string>
      <string>uni1EC4</string>
      <string>uni1EC6</string>
    </array>
    <key>public.kern1.F</key>
    <array>
      <string>F</string>
      <string>uni1E1E</string>
    </array>
    <key>public.kern1.G</key>
    <array>
      <string>G</string>
      <string>uni011C</string>
      <string>uni011E</string>
      <string>uni0120</string>
      <string>uni0122</string>
      <string>uni01E6</string>
      <string>uni01F4</string>
      <string>uni1E20</string>
    </array>
    <key>public.kern1.H</key>
    <array>
      <string>H</string>
      <string>uni0124</string>
      <string>uni021E</string>
      <string>uni1E22</string>
      <string>uni1E24</string>
      <string>uni1E26</string>
      <string>uni1E28</string>
      <string>uni1E2A</string>
    </array>
    <key>public.kern1.I</key>
    <array>
      <string>I</string>
      <string>I.clarity</string>
      <string>uni00CC</string>
      <string>uni00CD</string>
      <string>uni00CE</string>
      <string>uni00CF</string>
      <string>uni0128</string>
      <string>uni012A</string>
      <string>uni012C</string>
      <string>uni012E</string>
      <string>uni0130</string>
      <string>uni01CF</string>
      <string>uni0208</string>
      <string>uni020A</string>
      <string>uni1E2C</string>
      <string>uni1E2E</string>
      <string>uni1EC8</string>
      <string>uni1ECA</string>
    </array>
    <key>public.kern1.J</key>
    <array>
      <string>J</string>
      <string>uni0134</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>K</string>
      <string>uni0136</string>
      <string>uni01E8</string>
      <string>uni1E30</string>
      <string>uni1E32</string>
      <string>uni1E34</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
      <string>uni0139</string>
      <string>uni013B</string>
      <string>uni013D</string>
      <string>uni1E36</string>
      <string>uni1E38</string>
      <string>uni1E3A</string>
      <string>uni1E3C</string>
    </array>
    <key>public.kern1.M</key>
    <array>
      <string>M</string>
      <string>uni1E3E</string>
      <string>uni1E40</string>
      <string>uni1E42</string>
    </array>
    <key>public.kern1.N</key>
    <array>
      <string>N</string>
      <string>uni00D1</string>
      <string>uni0143</string>
      <string>uni0145</string>
      <string>uni0147</string>
      <string>uni01F8</string>
      <string>uni1E44</string>
      <string>uni1E46</string>
      <string>uni1E48</string>
      <string>uni1E4A</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>O</string>
      <string>uni00D2</string>
      <string>uni00D3</string>
      <string>uni00D4</string>
      <string>uni00D5</string>
      <string>uni00D6</string>
      <string>uni014C</string>
      <string>uni014E</string>
      <string>uni0150</string>
      <string>uni01A0</string>
      <string>uni01D1</string>
      <string>uni01EA</string>
      <string>uni01EC</string>
      <string>uni020C</string>
      <string>uni020E</string>
      <string>uni022A</string>
      <string>uni022C</string>
      <string>uni022E</string>
      <string>uni0230</string>
      <string>uni1E4C</string>
      <string>uni1E4E</string>
      <string>uni1E50</string>
      <string>uni1E52</string>
      <string>uni1ECC</string>
      <string>uni1ECE</string>
      <string>uni1ED0</string>
      <string>uni1ED2</string>
      <string>uni1ED4</string>
      <string>uni1ED6</string>
      <string>uni1ED8</string>
      <string>uni1EDA</string>
      <string>uni1EDC</string>
      <string>uni1EDE</string>
      <string>uni1EE0</string>
      <string>uni1EE2</string>
    </array>
    <key>public.kern1.P</key>
    <array>
      <string>P</string>
      <string>uni1E54</string>
      <string>uni1E56</string>
    </array>
    <key>public.kern1.Q</key>
    <array>
      <string>Q</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>R</string>
      <string>R.curved</string>
      <string>uni0154</string>
      <string>uni0154.ss04</string>
      <string>uni0156</string>
      <string>uni0156.ss04</string>
      <string>uni0158</string>
      <string>uni0158.ss04</string>
      <string>uni0210</string>
      <string>uni0210.ss04</string>
      <string>uni0212</string>
      <string>uni0212.ss04</string>
      <string>uni1E58</string>
      <string>uni1E58.ss04</string>
      <string>uni1E5A</string>
      <string>uni1E5A.ss04</string>
      <string>uni1E5C</string>
      <string>uni1E5C.ss04</string>
      <string>uni1E5E</string>
      <string>uni1E5E.ss04</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>S</string>
      <string>uni015A</string>
      <string>uni015C</string>
      <string>uni015E</string>
      <string>uni0160</string>
      <string>uni0218</string>
      <string>uni1E60</string>
      <string>uni1E62</string>
      <string>uni1E64</string>
      <string>uni1E66</string>
      <string>uni1E68</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
      <string>uni0162</string>
      <string>uni0164</string>
      <string>uni021A</string>
      <string>uni1E6A</string>
      <string>uni1E6C</string>
      <string>uni1E6E</string>
      <string>uni1E70</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>U</string>
      <string>uni00D9</string>
      <string>uni00DA</string>
      <string>uni00DB</string>
      <string>uni00DC</string>
      <string>uni0168</string>
      <string>uni016A</string>
      <string>uni016C</string>
      <string>uni016E</string>
      <string>uni0170</string>
      <string>uni0172</string>
      <string>uni01AF</string>
      <string>uni01D3</string>
      <string>uni01D5</string>
      <string>uni01D7</string>
      <string>uni01D9</string>
      <string>uni01DB</string>
      <string>uni0214</string>
      <string>uni0216</string>
      <string>uni1E72</string>
      <string>uni1E74</string>
      <string>uni1E76</string>
      <string>uni1E78</string>
      <string>uni1E7A</string>
      <string>uni1EE4</string>
      <string>uni1EE6</string>
      <string>uni1EE8</string>
      <string>uni1EEA</string>
      <string>uni1EEC</string>
      <string>uni1EEE</string>
      <string>uni1EF0</string>
    </array>
    <key>public.kern1.V</key>
    <array>
      <string>V</string>
      <string>uni1E7C</string>
      <string>uni1E7E</string>
    </array>
    <key>public.kern1.W</key>
    <array>
      <string>W</string>
      <string>uni0174</string>
      <string>uni1E80</string>
      <string>uni1E82</string>
      <string>uni1E84</string>
      <string>uni1E86</string>
      <string>uni1E88</string>
    </array>
    <key>public.kern1.X</key>
    <array>
      <string>X</string>
      <string>uni1E8A</string>
      <string>uni1E8C</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
      <string>uni00DD</string>
      <string>uni0176</string>
      <string>uni0178</string>
      <string>uni0232</string>
      <string>uni1E8E</string>
      <string>uni1EF2</string>
      <string>uni1EF4</string>
      <string>uni1EF6</string>
      <string>uni1EF8</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Z</string>
      <string>uni0179</string>
      <string>uni017B</string>
      <string>uni017D</string>
      <string>uni1E90</string>
      <string>uni1E92</string>
      <string>uni1E94</string>
    </array>
    <key>public.kern1.a</key>
    <array>
      <string>a</string>
      <string>a.text</string>
      <string>uni00E0</string>
      <string>uni00E0.ss01</string>
      <string>uni00E1</string>
      <string>uni00E1.ss01</string>
      <string>uni00E2</string>
      <string>uni00E2.ss01</string>
      <string>uni00E3</string>
      <string>uni00E3.ss01</string>
      <string>uni00E4</string>
      <string>uni00E4.ss01</string>
      <string>uni00E5</string>
      <string>uni00E5.ss01</string>
      <string>uni0101</string>
      <string>uni0101.ss01</string>
      <string>uni0103</string>
      <string>uni0103.ss01</string>
      <string>uni0105</string>
      <string>uni0105.ss01</string>
      <string>uni01CE</string>
      <string>uni01CE.ss01</string>
      <string>uni01DF</string>
      <string>uni01DF.ss01</string>
      <string>uni01E1</string>
      <string>uni01E1.ss01</string>
      <string>uni01FB</string>
      <string>uni01FB.ss01</string>
      <string>uni0201</string>
      <string>uni0201.ss01</string>
      <string>uni0203</string>
      <string>uni0203.ss01</string>
      <string>uni0227</string>
      <string>uni0227.ss01</string>
      <string>uni1EA1</string>
      <string>uni1EA1.ss01</string>
      <string>uni1EA3</string>
      <string>uni1EA3.ss01</string>
      <string>uni1EA5</string>
      <string>uni1EA5.ss01</string>
      <string>uni1EA7</string>
      <string>uni1EA7.ss01</string>
      <string>uni1EA9</string>
      <string>uni1EA9.ss01</string>
      <string>uni1EAB</string>
      <string>uni1EAB.ss01</string>
      <string>uni1EAD</string>
      <string>uni1EAD.ss01</string>
      <string>uni1EAF</string>
      <string>uni1EAF.ss01</string>
      <string>uni1EB1</string>
      <string>uni1EB1.ss01</string>
      <string>uni1EB3</string>
      <string>uni1EB3.ss01</string>
      <string>uni1EB5</string>
      <string>uni1EB5.ss01</string>
      <string>uni1EB7</string>
      <string>uni1EB7.ss01</string>
    </array>
    <key>public.kern1.b</key>
    <array>
      <string>b</string>
      <string>uni1E03</string>
      <string>uni1E05</string>
      <string>uni1E07</string>
    </array>
    <key>public.kern1.c</key>
    <array>
      <string>c</string>
      <string>uni00E7</string>
      <string>uni0107</string>
      <string>uni0109</string>
      <string>uni010B</string>
      <string>uni010D</string>
      <string>uni1E09</string>
    </array>
    <key>public.kern1.d</key>
    <array>
      <string>d</string>
      <string>uni010F</string>
      <string>uni1E0B</string>
      <string>uni1E0D</string>
      <string>uni1E0F</string>
      <string>uni1E11</string>
      <string>uni1E13</string>
    </array>
    <key>public.kern1.e</key>
    <array>
      <string>e</string>
      <string>uni00E8</string>
      <string>uni00E9</string>
      <string>uni00EA</string>
      <string>uni00EB</string>
      <string>uni0113</string>
      <string>uni0115</string>
      <string>uni0117</string>
      <string>uni0119</string>
      <string>uni011B</string>
      <string>uni0205</string>
      <string>uni0207</string>
      <string>uni0229</string>
      <string>uni1E15</string>
      <string>uni1E17</string>
      <string>uni1E19</string>
      <string>uni1E1B</string>
      <string>uni1E1D</string>
      <string>uni1EB9</string>
      <string>uni1EBB</string>
      <string>uni1EBD</string>
      <string>uni1EBF</string>
      <string>uni1EC1</string>
      <string>uni1EC3</string>
      <string>uni1EC5</string>
      <string>uni1EC7</string>
    </array>
    <key>public.kern1.f</key>
    <array>
      <string>f</string>
      <string>uni1E1F</string>
    </array>
    <key>public.kern1.g</key>
    <array>
      <string>g</string>
      <string>g.double</string>
      <string>uni011D</string>
      <string>uni011D.ss02</string>
      <string>uni011F</string>
      <string>uni011F.ss02</string>
      <string>uni0121</string>
      <string>uni0121.ss02</string>
      <string>uni0123</string>
      <string>uni0123.ss02</string>
      <string>uni01E7</string>
      <string>uni01E7.ss02</string>
      <string>uni01F5</string>
      <string>uni01F5.ss02</string>
      <string>uni1E21</string>
      <string>uni1E21.ss02</string>
    </array>
    <key>public.kern1.h</key>
    <array>
      <string>h</string>
      <string>uni0125</string>
      <string>uni021F</string>
      <string>uni1E23</string>
      <string>uni1E25</string>
      <string>uni1E27</string>
      <string>uni1E29</string>
      <string>uni1E2B</string>
      <string>uni1E96</string>
    </array>
    <key>public.kern1.i</key>
    <array>
      <string>i</string>
      <string>i.cut</string>
      <string>uni00EC</string>
      <string>uni00EC.ss03</string>
      <string>uni00ED</string>
      <string>uni00ED.ss03</string>
      <string>uni00EE</string>
      <string>uni00EE.ss03</string>
      <string>uni00EF</string>
      <string>uni00EF.ss03</string>
      <string>uni0129</string>
      <string>uni0129.ss03</string>
      <string>uni012B</string>
      <string>uni012B.ss03</string>
      <string>uni012D</string>
      <string>uni012D.ss03</string>
      <string>uni012F</string>
      <string>uni012F.ss03</string>
      <string>uni01D0</string>
      <string>uni01D0.ss03</string>
      <string>uni0209</string>
      <string>uni0209.ss03</string>
      <string>uni020B</string>
      <string>uni020B.ss03</string>
      <string>uni1E2D</string>
      <string>uni1E2D.ss03</string>
      <string>uni1E2F</string>
      <string>uni1E2F.ss03</string>
      <string>uni1EC9</string>
      <string>uni1EC9.ss03</string>
      <string>uni1ECB</string>
      <string>uni1ECB.ss03</string>
    </array>
    <key>public.kern1.j</key>
    <array>
      <string>j</string>
      <string>j.cut</string>
      <string>uni0135</string>
      <string>uni0135.ss03</string>
      <string>uni01F0</string>
      <string>uni01F0.ss03</string>
    </array>
    <key>public.kern1.k</key>
    <array>
      <string>k</string>
      <string>uni0137</string>
      <string>uni01E9</string>
      <string>uni1E31</string>
      <string>uni1E33</string>
      <string>uni1E35</string>
    </array>
    <key>public.kern1.l</key>
    <array>
      <string>l</string>
      <string>l.clarity</string>
      <string>uni013A</string>
      <string>uni013C</string>
      <string>uni013E</string>
      <string>uni1E37</string>
      <string>uni1E39</string>
      <string>uni1E3B</string>
      <string>uni1E3D</string>
    </array>
    <key>public.kern1.m</key>
    <array>
      <string>m</string>
      <string>uni1E3F</string>
      <string>uni1E41</string>
      <string>uni1E43</string>
    </array>
    <key>public.kern1.n</key>
    <array>
      <string>n</string>
      <string>uni00F1</string>
      <string>uni0144</string>
      <string>uni0146</string>
      <string>uni0148</string>
      <string>uni01F9</string>
      <string>uni1E45</string>
      <string>uni1E47</string>
      <string>uni1E49</string>
      <string>uni1E4B</string>
    </array>
    <key>public.kern1.o</key>
    <array>
      <string>o</string>
      <string>uni00F2</string>
      <string>uni00F3</string>
      <string>uni00F4</string>
      <string>uni00F5</string>
      <string>uni00F6</string>
      <string>uni014D</string>
      <string>uni014F</string>
      <string>uni0151</string>
      <string>uni01A1</string>
      <string>uni01D2</string>
      <string>uni01EB</string>
      <string>uni01ED</string>
      <string>uni020D</string>
      <string>uni020F</string>
      <string>uni022B</string>
      <string>uni022D</string>
      <string>uni022F</string>
      <string>uni0231</string>
      <string>uni1E4D</string>
      <string>uni1E4F</string>
      <string>uni1E51</string>
      <string>uni1E53</string>
      <string>uni1ECD</string>
      <string>uni1ECF</string>
      <string>uni1ED1</string>
      <string>uni1ED3</string>
      <string>uni1ED5</string>
      <string>uni1ED7</string>
      <string>uni1ED9</string>
      <string>uni1EDB</string>
      <string>uni1EDD</string>
      <string>uni1EDF</string>
      <string>uni1EE1</string>
      <string>uni1EE3</string>
    </array>
    <key>public.kern1.p</key>
    <array>
      <string>p</string>
      <string>uni1E55</string>
      <string>uni1E57</string>
    </array>
    <key>public.kern1.q</key>
    <array>
      <string>q</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>r</string>
      <string>uni0155</string>
      <string>uni0157</string>
      <string>uni0159</string>
      <string>uni0211</string>
      <string>uni0213</string>
      <string>uni1E59</string>
      <string>uni1E5B</string>
      <string>uni1E5D</string>
      <string>uni1E5F</string>
    </array>
    <key>public.kern1.s</key>
    <array>
      <string>s</string>
      <string>uni015B</string>
      <string>uni015D</string>
      <string>uni015F</string>
      <string>uni0161</string>
      <string>uni0219</string>
      <string>uni1E61</string>
      <string>uni1E63</string>
      <string>uni1E65</string>
      <string>uni1E67</string>
      <string>uni1E69</string>
    </array>
    <key>public.kern1.t</key>
    <array>
      <string>t</string>
      <string>uni0163</string>
      <string>uni0165</string>
      <string>uni021B</string>
      <string>uni1E6B</string>
      <string>uni1E6D</string>
      <string>uni1E6F</string>
      <string>uni1E71</string>
      <string>uni1E97</string>
    </array>
    <key>public.kern1.u</key>
    <array>
      <string>u</string>
      <string>uni00F9</string>
      <string>uni00FA</string>
      <string>uni00FB</string>
      <string>uni00FC</string>
      <string>uni0169</string>
      <string>uni016B</string>
      <string>uni016D</string>
      <string>uni016F</string>
      <string>uni0171</string>
      <string>uni0173</string>
      <string>uni01B0</string>
      <string>uni01D4</string>
      <string>uni01D6</string>
      <string>uni01D8</string>
      <string>uni01DA</string>
      <string>uni01DC</string>
      <string>uni0215</string>
      <string>uni0217</string>
      <string>uni1E73</string>
      <string>uni1E75</string>
      <string>uni1E77</string>
      <string>uni1E79</string>
      <string>uni1E7B</string>
      <string>uni1EE5</string>
      <string>uni1EE7</string>
      <string>uni1EE9</string>
      <string>uni1EEB</string>
      <string>uni1EED</string>
      <string>uni1EEF</string>
      <string>uni1EF1</string>
    </array>
    <key>public.kern1.v</key>
    <array>
      <string>uni1E7D</string>
      <string>uni1E7F</string>
      <string>v</string>
    </array>
    <key>public.kern1.w</key>
    <array>
      <string>uni0175</string>
      <string>uni1E81</string>
      <string>uni1E83</string>
      <string>uni1E85</string>
      <string>uni1E87</string>
      <string>uni1E89</string>
      <string>uni1E98</string>
      <string>w</string>
    </array>
    <key>public.kern1.x</key>
    <array>
      <string>uni1E8B</string>
      <string>uni1E8D</string>
      <string>x</string>
    </array>
    <key>public.kern1.y</key>
    <array>
      <string>uni00FD</string>
      <string>uni00FD.ss03</string>
      <string>uni00FF</string>
      <string>uni00FF.ss03</string>
      <string>uni0177</string>
      <string>uni0177.ss03</string>
      <string>uni0233</string>
      <string>uni0233.ss03</string>
      <string>uni1E8F</string>
      <string>uni1E8F.ss03</string>
      <string>uni1E99</string>
      <string>uni1E99.ss03</string>
      <string>uni1EF3</string>
      <string>uni1EF3.ss03</string>
      <string>uni1EF5</string>
      <string>uni1EF5.ss03</string>
      <string>uni1EF7</string>
      <string>uni1EF7.ss03</string>
      <string>uni1EF9</string>
      <string>uni1EF9.ss03</string>
      <string>y</string>
      <string>y.diagonal</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>uni017A</string>
      <string>uni017C</string>
      <string>uni017E</string>
      <string>uni1E91</string>
      <string>uni1E93</string>
      <string>uni1E95</string>
      <string>z</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>uni00C0</string>
      <string>uni00C1</string>
      <string>uni00C2</string>
      <string>uni00C3</string>
      <string>uni00C4</string>
      <string>uni00C5</string>
      <string>uni0100</string>
      <string>uni0102</string>
      <string>uni0104</string>
      <string>uni01CD</string>
      <string>uni01DE</string>
      <string>uni01E0</string>
      <string>uni01FA</string>
      <string>uni0200</string>
      <string>uni0202</string>
      <string>uni0226</string>
      <string>uni1EA0</string>
      <string>uni1EA2</string>
      <string>uni1EA4</string>
      <string>uni1EA6</string>
      <string>uni1EA8</string>
      <string>uni1EAA</string>
      <string>uni1EAC</string>
      <string>uni1EAE</string>
      <string>uni1EB0</string>
      <string>uni1EB2</string>
      <string>uni1EB4</string>
      <string>uni1EB6</string>
    </array>
    <key>public.kern2.B</key>
    <array>
      <string>B</string>
      <string>uni1E02</string>
      <string>uni1E04</string>
      <string>uni1E06</string>
    </array>
    <key>public.kern2.C</key>
    <array>
      <string>C</string>
      <string>uni00C7</string>
      <string>uni0106</string>
      <string>uni0108</string>
      <string>uni010A</string>
      <string>uni010C</string>
      <string>uni1E08</string>
    </array>
    <key>public.kern2.D</key>
    <array>
      <string>D</string>
      <string>uni010E</string>
      <string>uni1E0A</string>
      <string>uni1E0C</string>
      <string>uni1E0E</string>
      <string>uni1E10</string>
      <string>uni1E12</string>
    </array>
    <key>public.kern2.E</key>
    <array>
      <string>E</string>
      <string>uni00C8</string>
      <string>uni00C9</string>
      <string>uni00CA</string>
      <string>uni00CB</string>
      <string>uni0112</string>
      <string>uni0114</string>
      <string>uni0116</string>
      <string>uni0118</string>
      <string>uni011A</string>
      <string>uni0204</string>
      <string>uni0206</string>
      <string>uni0228</string>
      <string>uni1E14</string>
      <string>uni1E16</string>
      <string>uni1E18</string>
      <string>uni1E1A</string>
      <string>uni1E1C</string>
      <string>uni1EB8</string>
      <string>uni1EBA</string>
      <string>uni1EBC</string>
      <string>uni1EBE</string>
      <string>uni1EC0</string>
      <string>uni1EC2</string>
      <string>uni1EC4</string>
      <string>uni1EC6</string>
    </array>
    <key>public.kern2.F</key>
    <array>
      <string>F</string>
      <string>uni1E1E</string>
    </array>
    <key>public.kern2.G</key>
    <array>
      <string>G</string>
      <string>uni011C</string>
      <string>uni011E</string>
      <string>uni0120</string>
      <string>uni0122</string>
      <string>uni01E6</string>
      <string>uni01F4</string>
      <string>uni1E20</string>
    </array>
    <key>public.kern2.H</key>
    <array>
      <string>H</string>
      <string>uni0124</string>
      <string>uni021E</string>
      <string>uni1E22</string>
      <string>uni1E24</string>
      <string>uni1E26</string>
      <string>uni1E28</string>
      <string>uni1E2A</string>
    </array>
    <key>public.kern2.I</key>
    <array>
      <string>I</string>
      <string>I.clarity</string>
      <string>uni00CC</string>
      <string>uni00CD</string>
      <string>uni00CE</string>
      <string>uni00CF</string>
      <string>uni0128</string>
      <string>uni012A</string>
      <string>uni012C</string>
      <string>uni012E</string>
      <string>uni0130</string>
      <string>uni01CF</string>
      <string>uni0208</string>
      <string>uni020A</string>
      <string>uni1E2C</string>
      <string>uni1E2E</string>
      <string>uni1EC8</string>
      <string>uni1ECA</string>
    </array>
    <key>public.kern2.J</key>
    <array>
      <string>J</string>
      <string>uni0134</string>
    </array>
    <key>public.kern2.K</key>
    <array>
      <string>K</string>
      <string>uni0136</string>
      <string>uni01E8</string>
      <string>uni1E30</string>
      <string>uni1E32</string>
      <string>uni1E34</string>
    </array>
    <key>public.kern2.L</key>
    <array>
      <string>L</string>
      <string>uni0139</string>
      <string>uni013B</string>
      <string>uni013D</string>
      <string>uni1E36</string>
      <string>uni1E38</string>
      <string>uni1E3A</string>
      <string>uni1E3C</string>
    </array>
    <key>public.kern2.M</key>
    <array>
      <string>M</string>
      <string>uni1E3E</string>
      <string>uni1E40</string>
      <string>uni1E42</string>
    </array>
    <key>public.kern2.N</key>
    <array>
      <string>N</string>
      <string>uni00D1</string>
      <string>uni0143</string>
      <string>uni0145</string>
      <string>uni0147</string>
      <string>uni01F8</string>
      <string>uni1E44</string>
      <string>uni1E46</string>
      <string>uni1E48</string>
      <string>uni1E4A</string>
    </array>
    <key>public.kern2.O</key>
    <array>
      <string>O</string>
      <string>uni00D2</string>
      <string>uni00D3</string>
      <string>uni00D4</string>
      <string>uni00D5</string>
      <string>uni00D6</string>
      <string>uni014C</string>
      <string>uni014E</string>
      <string>uni0150</string>
      <string>uni01A0</string>
      <string>uni01D1</string>
      <string>uni01EA</string>
      <string>uni01EC</string>
      <string>uni020C</string>
      <string>uni020E</string>
      <string>uni022A</string>
      <string>uni022C</string>
      <string>uni022E</string>
      <string>uni0230</string>
      <string>uni1E4C</string>
      <string>uni1E4E</string>
      <string>uni1E50</string>
      <string>uni1E52</string>
      <string>uni1ECC</string>
      <string>uni1ECE</string>
      <string>uni1ED0</string>
      <string>uni1ED2</string>
      <string>uni1ED4</string>
      <string>uni1ED6</string>
      <string>uni1ED8</string>
      <string>uni1EDA</string>
      <string>uni1EDC</string>
      <string>uni1EDE</string>
      <string>uni1EE0</string>
      <string>uni1EE2</string>
    </array>
    <key>public.kern2.P</key>
    <array>
      <string>P</string>
      <string>uni1E54</string>
      <string>uni1E56</string>
    </array>
    <key>public.kern2.Q</key>
    <array>
      <string>Q</string>
    </array>
    <key>public.kern2.R</key>
    <array>
      <string>R</string>
      <string>R.curved</string>
      <string>uni0154</string>
      <string>uni0154.ss04</string>
      <string>uni0156</string>
      <string>uni0156.ss04</string>
      <string>uni0158</string>
      <string>uni0158.ss04</string>
      <string>uni0210</string>
      <string>uni0210.ss04</string>
      <string>uni0212</string>
      <string>uni0212.ss04</string>
      <string>uni1E58</string>
      <string>uni1E58.ss04</string>
      <string>uni1E5A</string>
      <string>uni1E5A.ss04</string>
      <string>uni1E5C</string>
      <string>uni1E5C.ss04</string>
      <string>uni1E5E</string>
      <string>uni1E5E.ss04</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>S</string>
      <string>uni015A</string>
      <string>uni015C</string>
      <string>uni015E</string>
      <string>uni0160</string>
      <string>uni0218</string>
      <string>uni1E60</string>
      <string>uni1E62</string>
      <string>uni1E64</string>
      <string>uni1E66</string>
      <string>uni1E68</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
      <string>uni0162</string>
      <string>uni0164</string>
      <string>uni021A</string>
      <string>uni1E6A</string>
      <string>uni1E6C</string>
      <string>uni1E6E</string>
      <string>uni1E70</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
      <string>uni00D9</string>
      <string>uni00DA</string>
      <string>uni00DB</string>
      <string>uni00DC</string>
      <string>uni0168</string>
      <string>uni016A</string>
      <string>uni016C</string>
      <string>uni016E</string>
      <string>uni0170</string>
      <string>uni0172</string>
      <string>uni01AF</string>
      <string>uni01D3</string>
      <string>uni01D5</string>
      <string>uni01D7</string>
      <string>uni01D9</string>
      <string>uni01DB</string>
      <string>uni0214</string>
      <string>uni0216</string>
      <string>uni1E72</string>
      <string>uni1E74</string>
      <string>uni1E76</string>
      <string>uni1E78</string>
      <string>uni1E7A</string>
      <string>uni1EE4</string>
      <string>uni1EE6</string>
      <string>uni1EE8</string>
      <string>uni1EEA</string>
      <string>uni1EEC</string>
      <string>uni1EEE</string>
      <string>uni1EF0</string>
    </array>
    <key>public.kern2.V</key>
    <array>
      <string>V</string>
      <string>uni1E7C</string>
      <string>uni1E7E</string>
    </array>
    <key>public.kern2.W</key>
    <array>
      <string>W</string>
      <string>uni0174</string>
      <string>uni1E80</string>
      <string>uni1E82</string>
      <string>uni1E84</string>
      <string>uni1E86</string>
      <string>uni1E88</string>
    </array>
    <key>public.kern2.X</key>
    <array>
      <string>X</string>
      <string>uni1E8A</string>
      <string>uni1E8C</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
      <string>uni00DD</string>
      <string>uni0176</string>
      <string>uni0178</string>
      <string>uni0232</string>
      <string>uni1E8E</string>
      <string>uni1EF2</string>
      <string>uni1EF4</string>
      <string>uni1EF6</string>
      <string>uni1EF8</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
      <string>uni0179</string>
      <string>uni017B</string>
      <string>uni017D</string>
      <string>uni1E90</string>
      <string>uni1E92</string>
      <string>uni1E94</string>
    </array>
    <key>public.kern2.a</key>
    <array>
      <string>a</string>
      <string>a.text</string>
      <string>uni00E0</string>
      <string>uni00E0.ss01</string>
      <string>uni00E1</string>
      <string>uni00E1.ss01</string>
      <string>uni00E2</string>
      <string>uni00E2.ss01</string>
      <string>uni00E3</string>
      <string>uni00E3.ss01</string>
      <string>uni00E4</string>
      <string>uni00E4.ss01</string>
      <string>uni00E5</string>
      <string>uni00E5.ss01</string>
      <string>uni0101</string>
      <string>uni0101.ss01</string>
      <string>uni0103</string>
      <string>uni0103.ss01</string>
      <string>uni0105</string>
      <string>uni0105.ss01</string>
      <string>uni01CE</string>
      <string>uni01CE.ss01</string>
      <string>uni01DF</string>
      <string>uni01DF.ss01</string>
      <string>uni01E1</string>
      <string>uni01E1.ss01</string>
      <string>uni01FB</string>
      <string>uni01FB.ss01</string>
      <string>uni0201</string>
      <string>uni0201.ss01</string>
      <string>uni0203</string>
      <string>uni0203.ss01</string>
      <string>uni0227</string>
      <string>uni0227.ss01</string>
      <string>uni1EA1</string>
      <string>uni1EA1.ss01</string>
      <string>uni1EA3</string>
      <string>uni1EA3.ss01</string>
      <string>uni1EA5</string>
      <string>uni1EA5.ss01</string>
      <string>uni1EA7</string>
      <string>uni1EA7.ss01</string>
      <string>uni1EA9</string>
      <string>uni1EA9.ss01</string>
      <string>uni1EAB</string>
      <string>uni1EAB.ss01</string>
      <string>uni1EAD</string>
      <string>uni1EAD.ss01</string>
      <string>uni1EAF</string>
      <string>uni1EAF.ss01</string>
      <string>uni1EB1</string>
      <string>uni1EB1.ss01</string>
      <string>uni1EB3</string>
      <string>uni1EB3.ss01</string>
      <string>uni1EB5</string>
      <string>uni1EB5.ss01</string>
      <string>uni1EB7</string>
      <string>uni1EB7.ss01</string>
    </array>
    <key>public.kern2.b</key>
    <array>
      <string>b</string>
      <string>uni1E03</string>
      <string>uni1E05</string>
      <string>uni1E07</string>
    </array>
    <key>public.kern2.c</key>
    <array>
      <string>c</string>
      <string>uni00E7</string>
      <string>uni0107</string>
      <string>uni0109</string>
      <string>uni010B</string>
      <string>uni010D</string>
      <string>uni1E09</string>
    </array>
    <key>public.kern2.d</key>
    <array>
      <string>d</string>
      <string>uni010F</string>
      <string>uni1E0B</string>
      <string>uni1E0D</string>
      <string>uni1E0F</string>
      <string>uni1E11</string>
      <string>uni1E13</string>
    </array>
    <key>public.kern2.e</key>
    <array>
      <string>e</string>
      <string>uni00E8</string>
      <string>uni00E9</string>
      <string>uni00EA</string>
      <string>uni00EB</string>
      <string>uni0113</string>
      <string>uni0115</string>
      <string>uni0117</string>
      <string>uni0119</string>
      <string>uni011B</string>
      <string>uni0205</string>
      <string>uni0207</string>
      <string>uni0229</string>
      <string>uni1E15</string>
      <string>uni1E17</string>
      <string>uni1E19</string>
      <string>uni1E1B</string>
      <string>uni1E1D</string>
      <string>uni1EB9</string>
      <string>uni1EBB</string>
      <string>uni1EBD</string>
      <string>uni1EBF</string>
      <string>uni1EC1</string>
      <string>uni1EC3</string>
      <string>uni1EC5</string>
      <string>uni1EC7</string>
    </array>
    <key>public.kern2.f</key>
    <array>
      <string>f</string>
      <string>uni1E1F</string>
    </array>
    <key>public.kern2.g</key>
    <array>
      <string>g</string>
      <string>g.double</string>
      <string>uni011D</string>
      <string>uni011D.ss02</string>
      <string>uni011F</string>
      <string>uni011F.ss02</string>
      <string>uni0121</string>
      <string>uni0121.ss02</string>
      <string>uni0123</string>
      <string>uni0123.ss02</string>
      <string>uni01E7</string>
      <string>uni01E7.ss02</string>
      <string>uni01F5</string>
      <string>uni01F5.ss02</string>
      <string>uni1E21</string>
      <string>uni1E21.ss02</string>
    </array>
    <key>public.kern2.h</key>
    <array>
      <string>h</string>
      <string>uni0125</string>
      <string>uni021F</string>
      <string>uni1E23</string>
      <string>uni1E25</string>
      <string>uni1E27</string>
      <string>uni1E29</string>
      <string>uni1E2B</string>
      <string>uni1E96</string>
    </array>
    <key>public.kern2.i</key>
    <array>
      <string>i</string>
      <string>i.cut</string>
      <string>uni00EC</string>
      <string>uni00EC.ss03</string>
      <string>uni00ED</string>
      <string>uni00ED.ss03</string>
      <string>uni00EE</string>
      <string>uni00EE.ss03</string>
      <string>uni00EF</string>
      <string>uni00EF.ss03</string>
      <string>uni0129</string>
      <string>uni0129.ss03</string>
      <string>uni012B</string>
      <string>uni012B.ss03</string>
      <string>uni012D</string>
      <string>uni012D.ss03</string>
      <string>uni012F</string>
      <string>uni012F.ss03</string>
      <string>uni01D0</string>
      <string>uni01D0.ss03</string>
      <string>uni0209</string>
      <string>uni0209.ss03</string>
      <string>uni020B</string>
      <string>uni020B.ss03</string>
      <string>uni1E2D</string>
      <string>uni1E2D.ss03</string>
      <string>uni1E2F</string>
      <string>uni1E2F.ss03</string>
      <string>uni1EC9</string>
      <string>uni1EC9.ss03</string>
      <string>uni1ECB</string>
      <string>uni1ECB.ss03</string>
    </array>
    <key>public.kern2.j</key>
    <array>
      <string>j</string>
      <string>j.cut</string>
      <string>uni0135</string>
      <string>uni0135.ss03</string>
      <string>uni01F0</string>
      <string>uni01F0.ss03</string>
    </array>
    <key>public.kern2.k</key>
    <array>
      <string>k</string>
      <string>uni0137</string>
      <string>uni01E9</string>
      <string>uni1E31</string>
      <string>uni1E33</string>
      <string>uni1E35</string>
    </array>
    <key>public.kern2.l</key>
    <array>
      <string>l</string>
      <string>l.clarity</string>
      <string>uni013A</string>
      <string>uni013C</string>
      <string>uni013E</string>
      <string>uni1E37</string>
      <string>uni1E39</string>
      <string>uni1E3B</string>
      <string>uni1E3D</string>
    </array>
    <key>public.kern2.m</key>
    <array>
      <string>m</string>
      <string>uni1E3F</string>
      <string>uni1E41</string>
      <string>uni1E43</string>
    </array>
    <key>public.kern2.n</key>
    <array>
      <string>n</string>
      <string>uni00F1</string>
      <string>uni0144</string>
      <string>uni0146</string>
      <string>uni0148</string>
      <string>uni01F9</string>
      <string>uni1E45</string>
      <string>uni1E47</string>
      <string>uni1E49</string>
      <string>uni1E4B</string>
    </array>
    <key>public.kern2.o</key>
    <array>
      <string>o</string>
      <string>uni00F2</string>
      <string>uni00F3</string>
      <string>uni00F4</string>
      <string>uni00F5</string>
      <string>uni00F6</string>
      <string>uni014D</string>
      <string>uni014F</string>
      <string>uni0151</string>
      <string>uni01A1</string>
      <string>uni01D2</string>
      <string>uni01EB</string>
      <string>uni01ED</string>
      <string>uni020D</string>
      <string>uni020F</string>
      <string>uni022B</string>
      <string>uni022D</string>
      <string>uni022F</string>
      <string>uni0231</string>
      <string>uni1E4D</string>
      <string>uni1E4F</string>
      <string>uni1E51</string>
      <string>uni1E53</string>
      <string>uni1ECD</string>
      <string>uni1ECF</string>
      <string>uni1ED1</string>
      <string>uni1ED3</string>
      <string>uni1ED5</string>
      <string>uni1ED7</string>
      <string>uni1ED9</string>
      <string>uni1EDB</string>
      <string>uni1EDD</string>
      <string>uni1EDF</string>
      <string>uni1EE1</string>
      <string>uni1EE3</string>
    </array>
    <key>public.kern2.p</key>
    <array>
      <string>p</string>
      <string>uni1E55</string>
      <string>uni1E57</string>
    </array>
    <key>public.kern2.q</key>
    <array>
      <string>q</string>
    </array>
    <key>public.kern2.r</key>
    <array>
      <string>r</string>
      <string>uni0155</string>
      <string>uni0157</string>
      <string>uni0159</string>
      <string>uni0211</string>
      <string>uni0213</string>
      <string>uni1E59</string>
      <string>uni1E5B</string>
      <string>uni1E5D</string>
      <string>uni1E5F</string>
    </array>
    <key>public.kern2.s</key>
    <array>
      <string>s</string>
      <string>uni015B</string>
      <string>uni015D</string>
      <string>uni015F</string>
      <string>uni0161</string>
      <string>uni0219</string>
      <string>uni1E61</string>
      <string>uni1E63</string>
      <string>uni1E65</string>
      <string>uni1E67</string>
      <string>uni1E69</string>
    </array>
    <key>public.kern2.t</key>
    <array>
      <string>t</string>
      <string>uni0163</string>
      <string>uni0165</string>
      <string>uni021B</string>
      <string>uni1E6B</string>
      <string>uni1E6D</string>
      <string>uni1E6F</string>
      <string>uni1E71</string>
      <string>uni1E97</string>
    </array>
    <key>public.kern2.u</key>
    <array>
      <string>u</string>
      <string>uni00F9</string>
      <string>uni00FA</string>
      <string>uni00FB</string>
      <string>uni00FC</string>
      <string>uni0169</string>
      <string>uni016B</string>
      <string>uni016D</string>
      <string>uni016F</string>
      <string>uni0171</string>
      <string>uni0173</string>
      <string>uni01B0</string>
      <string>uni01D4</string>
      <string>uni01D6</string>
      <string>uni01D8</string>
      <string>uni01DA</string>
      <string>uni01DC</string>
      <string>uni0215</string>
      <string>uni0217</string>
      <string>uni1E73</string>
      <string>uni1E75</string>
      <string>uni1E77</string>
      <string>uni1E79</string>
      <string>uni1E7B</string>
      <string>uni1EE5</string>
      <string>uni1EE7</string>
      <string>uni1EE9</string>
      <string>uni1EEB</string>
      <string>uni1EED</string>
      <string>uni1EEF</string>
      <string>uni1EF1</string>
    </array>
    <key>public.kern2.v</key>
    <array>
      <string>uni1E7D</string>
      <string>uni1E7F</string>
      <string>v</string>
    </array>
    <key>public.kern2.w</key>
    <array>
      <string>uni0175</string>
      <string>uni1E81</string>
      <string>uni1E83</string>
      <string>uni1E85</string>
      <string>uni1E87</string>
      <string>uni1E89</string>
      <string>uni1E98</string>
      <string>w</string>
    </array>
    <key>public.kern2.x</key>
    <array>
      <string>uni1E8B</string>
      <string>uni1E8D</string>
      <string>x</string>
    </array>
    <key>public.kern2.y</key>
    <array>
      <string>uni00FD</string>
      <string>uni00FD.ss03</string>
      <string>uni00FF</string>
      <string>uni00FF.ss03</string>
      <string>uni0177</string>
      <string>uni0177.ss03</string>
      <string>uni0233</string>
      <string>uni0233.ss03</string>
      <string>uni1E8F</string>
      <string>uni1E8F.ss03</string>
      <string>uni1E99</string>
      <string>uni1E99.ss03</string>
      <string>uni1EF3</string>
      <string>uni1EF3.ss03</string>
      <string>uni1EF5</string>
      <string>uni1EF5.ss03</string>
      <string>uni1EF7</string>
      <string>uni1EF7.ss03</string>
      <string>uni1EF9</string>
      <string>uni1EF9.ss03</string>
      <string>y</string>
      <string>y.diagonal</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>uni017A</string>
      <string>uni017C</string>
      <string>uni017E</string>
      <string>uni1E91</string>
      <string>uni1E93</string>
      <string>uni1E95</string>
      <string>z</string>
    </array>
  </dict>
</plist>
