<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>de.zayju.coreStudy</key>
    <dict>
      <key>core</key>
      <string>BMRage23689</string>
      <key>direction</key>
      <string>fluid expressive</string>
      <key>family</key>
      <string>zayJu</string>
      <key>source</key>
      <string>https://github.com/SheathedSharp/oh-my-font</string>
      <key>stage</key>
      <string>visual-approval-required</string>
    </dict>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>space</string>
      <string>B</string>
      <string>M</string>
      <string>R</string>
      <string>a</string>
      <string>g</string>
      <string>e</string>
      <string>two</string>
      <string>three</string>
      <string>six</string>
      <string>eight</string>
      <string>nine</string>
    </array>
  </dict>
</plist>
